html{
    font-size: 18px;
}



*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}


body{
    background-image: url("./images/jean-philippe-delberghe-75xPHEQBmvA-unsplash.jpg");
    background-color: rgba(12,30,45,0.9);
    color: white;
    
}

.blue{
    color: lightskyblue;
}

.small{
    font-size: 0.75rem;
}
.normal{
    font-size: 1rem;
}
.medium{
    font-size: 2rem;
}
.large{
    font-size: 4rem;
}

.gray {
    color: darkslategray;
}

.mt1{
    margin-top: 2rem;
}

.pad1{
    padding: 1rem 1rem;
}

a {
    text-decoration: none;
    position: relative;
  }
  
  a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 4px;
      /* background-color: #18272F; */
      background-color: greenyellow;
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 300px;
    backdrop-filter: blur(4px);
    /* background-color: rgba(12,30,45,0.8); */
    background-image: linear-gradient(to right, rgba(12,30,45,0) , rgba(12,30,45,0.8));
    /* background-image: url('./images/bannerPic.jpg') */
}

.profile-pic{
    height: 300px;
    width: 300px;
    background-color: rgba(12,30,45,0.5);
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic img{
    height: 300px;
    

}

.banner-quote{
    border: black 1px solid;
    width: 50%;
    align-self: center;
    
    
}

.quote{
    font-family: 'Satisfy';
    padding: .5rem;
}

.author{
    text-align: end;
    padding: 1rem;
}


.main-body{
    
    
}

.info-container{
    padding-top: 10rem;
    width: 100%;
    /* border: black 1px solid; */
    text-align: center;
}

.greeting{
    
    margin: 0 auto 2rem;
    padding: 0 auto;

}

.story{
    width: 60%;
    margin: 0 auto;
}

.story span {
    display: block;
    opacity: 0;
    animation: reveal 1.5s forwards var(--delay);
  }
  
  @keyframes reveal {
    from {
      translate: 0 20px;
    }
    to {
      translate: none;
      opacity: 1;
    }
  }



.bio{

    color: darkslategray;
    
    margin-top: 1rem auto;
    /* backdrop-filter: blur(4px);
    background-color: rgba(12,30,45,0.8); */
}

.skills-container{
    width: 100%;
    background-image: linear-gradient(to right, rgba(12,30,45,0) , rgba(12,30,45,0.8), rgba(12,30,45,0));
}

.skills{
    padding: 3rem 0;
    width: 80%;
    margin: 5rem auto;
    /* border: black 1px solid; */
    /* backdrop-filter: blur(4px);
    background-color: rgba(12,30,45,0.6); */
    /* background-image: linear-gradient(to right, rgba(12,30,45,0) , rgba(12,30,45,0.8)); */
    
}

.animated-box-effect{
    animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}

.animated-box-effect-1{
    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s; /* don't forget to set a duration! */
}
.built-container{
    width: 100%;
    background-image: linear-gradient(to right, rgba(12,30,45,0) , rgba(12,30,45,0.8), rgba(12,30,45,0));
}

.built{
    padding: 3rem 0;
    width: 80%;
    margin: 5rem auto;
    text-align: center;
    /* border: black 1px solid;
    backdrop-filter: blur(4px);
    background-color: rgba(12,30,45,0.8); */
    /* background-image: linear-gradient(to right, rgba(12,30,45,0) , rgba(12,30,45,0.8), rgba(12,30,45,0)); */
 }

 .title{
    border: black 1px solid;
    margin: 0 auto;
 }

.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer{
    padding: 0 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
